*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(0, 0, 151);
    width: 100%;
    height: 10vh;
    display: flex;
}
nav .logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 40px;
    color: gold;
    text-shadow: 2px 2px 4px white;
}

nav .links{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color: gold;
    text-decoration: underline;
}